import("Biobase")
import("survival")

useDynLib("genefilter")

export("Anova", "allNA", "anyNA", "coxfilter",
  "cv", "eSetFilter",
  "fastT", "ttest", "shorth",
  "rowttests", "colttests", "rowFtests", "colFtests",
  "rowSds",
  "filterfun", "gapFilter", 
  "genefilter", "genescale", "getFilterNames",
  "getFuncDesc", "getRdAsText", "isESet", "kOverA", "maxA", "pOverA",
  "parseArgs", "parseDesc", "setESetArgs", "showESet") 

exportMethods("genefinder")
