
useDynLib(genefilter)

export("Anova", "allNA", "anyNA", "coxfilter",
  "cv", "eSetFilter",
  "fastT", "fastTNew", "ttest", "rowttests", "rowFtests",
  "filterfun", "gapFilter", 
  "genefilter", "genefinder", "genescale", "getFilterNames",
  "getFuncDesc", "getRdAsText", "isESet", "kOverA", "maxA", "pOverA",
  "parseArgs", "parseDesc", "setESetArgs", "showESet") 

